/* HEADINGS
===========================================
===========================================*/

h1,
h2,
h3 {
  color: var(--color-primary-500);
  font-family: var(--font-accent);
  line-height: var(--line-height-xs);
  text-wrap: balance;
}

h1 {
  font-size: var(--font-size-2xl);
  /* font-size: clamp(32px, 6vw, var(--font-size-2xl)); */
  font-weight: 400;
}

h2 {
  font-size: var(--font-size-2xl);
  font-weight: 400;
}

h3 {
  font-size: var(--font-size-xl);
  font-weight: 500;
}

.subheading {
  color: var(--color-primary-300);
  font-size: var(--font-size-l);
  font-weight: 300;
}