/*
TYPOGRAPHY
===========================================
===========================================
*/

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src:
    url('/fonts/WorkSans-Regular.woff2') format('woff2 supports variations'),
    url('/fonts/WorkSans-Regular.woff2') format('woff2-variations');
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  src:
    url('/fonts/WorkSans-Bold.woff2') format('woff2 supports variations'),
    url('/fonts/WorkSans-Bold.woff2') format('woff2-variations');
  font-display: swap;
}