/* VARIABLES
===========================================

===========================================*/

:root {
  /* Spacing
  ----------------------------------------- */
  --spacing-s: 6px;      
  --spacing-base: 16px;      
  --spacing-l: 20px;      
  --spacing-xl: 28px;    
  --spacing-2xl: 50px;  
  --spacing-3xl: 92px;  

  /* Flow space */
  --flow-space: 20px;



  /* Typography
  ----------------------------------------- */
  --font-base: Roboto, 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  --font-accent: Roboto, 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

  --font-size-xxs:  14px;
  --font-size-xs:   16px;
  --font-size-s:    18px;
  --font-size-base: clamp(18px, 3vw, 20px);
  --font-size-l:    clamp(20px, 3vw, 24px);
  --font-size-xl:   clamp(24px, 4vw, 28px);
  --font-size-2xl:  clamp(32px, 6vw, 50px);

  --line-height-xs:     1.1;
  --line-height-normal: 1.5;




  /* Colours
  ----------------------------------------- */
  --white:              #ffffff;

  --grey-100:           #DADADA;
  --grey-200:           #eeeeee;  
  --grey-300:           #9B9B9B;

  --black:              #000000;       

  --error:              #D0021B; 
    
  --color-primary-300:  #8D9CA8;
  --color-primary-500:  #0E3757;
  --color-primary-700:  #0E1C2D; 

  --color-accent:       #F56A75;
  --color-background:   --white;  
}